html,body,div,section{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}


body{
  overflow: hidden;
  /*background: #03a9f4;*/
  background: #fff;
}


.excel-logo,
.mec-logo,
.mec-text{
  position: fixed;
  top:20px;
}

.excel-logo{
  height: 110px;
  right: 50px;
  top:10px;
}

.mec-logo{
  left: 50px;
  height: 70px;
}

.mec-text{
  left: 136px;
  top: 30px;
  color: #fff;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
}

.mec-text p{
  margin: 3px;
}

ul.legacy{
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -150px;
}

ul.legacy li{
  display: inline-block;
  border: 3px solid rgba(181, 181, 181, 0.85);
  border-radius: 50%;
  margin: 20px;
}

ul.legacy li img{
  height: 50px;
  padding: 0;
  margin: 0;
}


@media (max-width:768px) and (min-width: 413px) {
  .mec-logo,
  .excel-logo{
    height: 130px;
    top: 40px;
  }
  .mec-text{
    margin: 4px;
    left: 175px;
    top:50px;
  }

  .mec-text p{
    font-size: 24px;
  }

}
